h4{
	color:rgb(255, 255, 255);
	text-align: center;
	font-weight: 500;
	padding-top: 10px;
}
		.nav{
 		background-color: #4768a0;
 
 		.menu > li > a{
  			color:rgb(255, 255, 255);
  			text-align: left;
  			font-size: 1.0rem;
  
  		&:hover, &:focus, &:active{
     		background-color: #787878;
		}
	}
		
		.image-holder{
		padding: 1.2 rem;
		background-color: #b4b4b4;
 		
 		img{
 		border-radius: 50%;
 		border: 1px solid darken(rgb(0, 0, 255),15%); 
 		padding: 0.3rem;
	    margin:auto;
 			
 			}
	 
		}	
    }
		.admin_title_bar{
		.title-bar{
		font-size: 1.5rem;
		color:rgb(0, 0, 0);
		background-color:#787878;
 		
		}	
	}
		
